@import "../../styles/variables";
@import "../../styles/mixins";

.index {
  min-height: 100vh;
  margin: 0 auto;
  @include breakpoint(lg) {
    padding-top: $header-height - $spacing-lg;
    margin: 0 $spacing-xl;
    display: flex;
    justify-content:space-between;
  }
  @include breakpoint(xl) {
    margin: 0 $spacing-xl * 2;
  }
  &__widget {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }
  }
}

.mobile {
  min-width: calc($lg/3);
  width: 90%;
  display: flex;
  margin: $spacing-lg auto 0;
  @include breakpoint(lg) {
    display: none;
  }
}
