@import "../../styles/variables";
@import "../../styles/mixins";

.index {
  min-height: 100vh;
  margin: 0 auto;
  @include breakpoint(lg) {
    padding-top: $header-height - $spacing-lg;
    margin: 0 auto;
    display: flex;
  }
  @include breakpoint(xxl) {
    margin: 0 $spacing-xl * 2;
  }
}