@import "../../styles/variables";
@import "../../styles/mixins";

.index {
  height: 100vh;
  margin: 0 auto;
  @include breakpoint(lg) {
    padding-top: $header-height - $spacing-lg;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 $spacing-xl;
  }
  @include breakpoint(xl) {
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    margin: 0 $spacing-xl * 2;
  }
}

.mobile {
  min-width: calc($lg/3);
  width: 90%;
  display: flex;
  margin: $spacing-lg auto 0;
  @include breakpoint(lg) {
    display: none;
  }
}
