@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else if $point == xxl {
    @media (min-width: $xxl) {
      @content;
    }
  }
}

@mixin logo {
  height: 50px;
  width: 100px;
}

@mixin TextSliderButton {
  width: $spacing-md * 1.7;
  height: $spacing-md * 1.7;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  margin: 0 calc($spacing-sm/2);
  svg {
    transition:all 0.3s ease;
    font-size: $spacing-md * 1.8;
    opacity: 0.3
  }

  &:hover{
    svg{
      opacity: 1;
    }
  }
}

@mixin ButtonCardSlider{
  cursor: pointer;
    width: calc($spacing-xl/1.3);
    height: calc($spacing-xl/1.3);
    border-radius: 50%;
    border: none;
    background-color: $button;
    & > svg {
      vertical-align: middle;
      color: $text-white;
      font-weight: bold;
      font-size: xx-large;
    }
}
