@import "variables";
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: $main-font;
    color: $text-black;
    height: 100vh;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}