@import "../../../styles/variables";
@import "../../../styles/mixins";

.index {
  min-height: 100vh;
  width: auto;
  margin: auto;
  font-weight: bold;
  color: $muted;
  padding-top: 40vh;
  @include breakpoint(lg) {
    width: 50%;
    padding-top: $header-height * 1.2;
  }
  img {
    display: block;
    opacity: 0.5;
    width: calc($min-width/2);
    margin: auto;
    @include breakpoint(lg) {
    }
  }
  span {
    display: none;
    @include breakpoint(lg) {
      display: block;
      font-size: $h1 * 2;
    }
  }
  div {
    display: none;
    @include breakpoint(lg) {
      display: flex;
      text-transform: uppercase;
      font-size: $h1 * 4;
    }
  }
}
