@import "../../styles/variables";
@import "../../styles/mixins";

.widget {
  &__group {
    &__item {
      display: grid;
      grid-template-columns: auto 2fr;
      border-bottom: 1px solid $secondary;
      padding: $spacing-md 0;
      @include breakpoint (md){
        padding: $spacing-md;
      }
      &__thumbnail {
        @include BackgroundImage;
        caret-color: transparent;
        margin: auto $spacing-md auto 0;
        width: 100px;
        height: 100px;
        border-radius: $spacing-sm;
        transition:0.5s; 
        cursor: pointer;
        &:hover{
          filter:brightness(90%)
        }
      }
      &__content {
        margin-top: $spacing-md;
        &__title {
          white-space: normal;
          text-decoration: none;
          color: $text-black;
          font-weight: bold;
          font-size: $h5;
          transition:0.5s;
          &:hover{
            color:$text-link;
          }
        }
        &__meta {
          white-space: normal;
          display: flex;
          align-items: center;
          font-size: $h5;
          color: $inherit;
          padding-top: $spacing-md;

          & > svg {
            margin: 0 $spacing-sm;
            vertical-align: middle;
            font-size: $h3;
          }
        }
      }
    }
  }
}
