@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  height: $header-height;
  background: $bg-white;
  color: $inherit;
  font-weight: bold;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
  @include breakpoint(lg) {
    padding: 0;
  }
  &__content {
    margin: 0 auto;
    width: 85%;
    padding: 0 $spacing-md;
    @include breakpoint(lg) {
      padding: 0 $spacing-lg;
    }
    transition: 0.3s ease padding;
    height: 100%;
    display: flex;
    align-items: center;

    & > div {
      flex: 1;
      white-space: nowrap;
      &:nth-child(1) {
        justify-content: flex-start;
        display: initial;
        @include breakpoint(lg) {
          display: none;
        }
      }

      &:nth-child(2) {
        margin: 0;
        max-width: 100px;
        max-width: fit-content;
        display: flex;
        justify-content: center;
      }

      &:nth-child(3) {
        @include breakpoint(lg) {
          max-width: fit-content;
        }
      }

      &:last-of-type {
        display: none;
        @include breakpoint(lg) {
          margin: 0 0 0 auto;
          max-width: fit-content;
          display: flex;
        }
      }
    }
  }

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: transparent;
    cursor: pointer;
    @include breakpoint(lg) {
      display: none;
    }
  }

  &__adminBar {
    transition: all 0.3s;
    opacity: 0;
    margin-top: -$header-height;
    pointer-events: none;
    &--open {
      margin-top: 0;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.logo {
  @include logo;
}

.nav {
  font-size: $h5;
  width: 100%;
  position: fixed;
  top: $header-height + $spacing-lg;
  right: -100%;
  background: $bg-white;

  &--open {
    transition: 0.2s ease top;
    right: 0;
  }

  &__item {
    display: block;
    padding: $spacing-md;
    text-decoration: none;
    color: inherit;
    height: $header-height;
    transition: 0.3s ease color;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &--active {
      color: $text-black;
      text-decoration: none;
      display: block;
      padding: $spacing-md;
      text-decoration: none;
      transition: 0.3s ease color;
      border: 1px solid rgba(0, 0, 0, 0.2);
      height: $header-height;
      svg {
        display: none;
      }
    }

    &:hover {
      color: $text-black;
    }

    svg {
      display: none;
    }
  }

  @include breakpoint(lg) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        position: relative;
        ul {
          transition: all 1s;
          display: block;
          height: 0;
          opacity: 0;
          position: absolute;
          overflow: auto;
          width: $spacing-xl * 3;
          border-radius: 0 0 $spacing-sm $spacing-sm;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          background: $bg-white;
          li {
            float: none;
            padding: calc($spacing-sm/2);
          }
        }
        &:hover ul {
          height: fit-content;
          opacity: 1;
        }
      }
    }
    &__item {
      border: none;
      padding: 0 $spacing-sm * 1.5;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        display: initial;
        font-size: $fs-md;
      }

      &--active {
        color: $text-black;
        padding: 0 $spacing-sm * 1.5;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        & > svg {
          display: initial;
          font-size: $fs-md;
        }
      }
    }
  }
}

.search {
  margin-right: $spacing-md;
  &__input {
    border: 1px solid $inherit;
    border-right: none;
    padding: calc($spacing-sm / 2);
    border-radius: $spacing-sm 0 0 $spacing-sm;
    outline: none;
    color: $text-black;
    font-size: $fs-md;
    width: 0;
    height: $spacing-lg;
    vertical-align: middle;
    visibility: hidden;
    transition: all 0.3s ease;
    &--open {
      visibility: visible;
      width: $spacing-lg * 4;
      @include breakpoint(xl) {
        width: $spacing-lg * 5;
      }
      @include breakpoint(xxl) {
        width: $spacing-lg * 6;
      }
    }
  }

  &__submit {
    border: 1px solid $inherit;
    border-left: none;
    background: $bg-white;
    text-align: center;
    vertical-align: middle;
    height: $spacing-lg;
    color: $inherit;
    border-radius: 0 $spacing-sm $spacing-sm 0;
    font-size: $fs-lg;
    &:hover {
      background: $secondary;
    }

    &--close {
      cursor: pointer;
      border: none;
      &:hover {
        background: transparent;
      }
    }
  }
}

.calendar {
  display: none;
  @include breakpoint(lg) {
    color: $bg-black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    & > div {
      &:first-child {
        margin-right: $spacing-sm;
        p {
          font-size: $h5 * 2;
        }
      }
      &:last-child {
        display: grid;
        grid-template-rows: repeat(2, $spacing-sm * 1.6);
        p {
          font-weight: 600;
          font-size: $h6;
        }
      }
    }
  }
}

.dropdown {
  display: flex;
}

.subCategory {
  display: block;
  width: 100%;
  height: 100%;
  padding: $spacing-sm;
  text-decoration: none;
  color: $inherit;
  transition: all 0.3s;
  &--active {
    display: block;
    width: 100%;
    height: 100%;
    padding: $spacing-sm;
    text-decoration: none;
    color: $text-black;
  }
  &:hover {
    color: $text-link;
  }
}
