@import "../../styles/variables";
@import "../../styles/mixins";

.slider {
  display: flex;
  flex-wrap: wrap;
  margin: $spacing-lg 0;
  align-items: center;
  min-width: $min-width;
  &__thumbnail {
    display: flex;
    justify-content: center;
    width: $width169;
    height: $height169;
    min-height: $spacing-xl*3;
    max-height: $image-slider-height;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
    transition: width .5s, visibility 1s;
    position:relative;
    &__title {
      color: $text-white;
      font-weight: bold;
      font-size: $h5;
      position: absolute;
      bottom:0;
      height:35%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      transition: all 0.5s;
      background: $background-title;
      @include breakpoint(sm) {
        height:30%;
        font-size: $h3;
      }
      @include breakpoint(md) {
        height:25%;
        font-size: $h2;
      }
      @include breakpoint(lg) {
        height:20%;
        font-size: $h1;
      }
      &--open {
        visibility: visible;
        opacity: 1;
      }
      &--close {
        visibility: hidden;
        opacity: 0;
      }
    }

    &--open {
      visibility: visible;
      width: 100%;
    }
    &--close {
      visibility: hidden;
      width: 0;
    }
  }

  &__indicator {
    z-index: 1;
    list-style-type: none;
    padding: 0;
    background: transparent;
    width: fit-content;
    display: flex;
    margin: -50px auto 0;
    justify-content: center;
    white-space: nowrap;
    &__item {
      display: inline-block;
      margin: calc($spacing-sm/3);
      border-radius: 50%;
      transition: all 0.3s ease;
      background-size: 0;
      & > svg {
        vertical-align: middle;
        color: $text-white;
        width: 100%;
        font-size: $h4;
      }
    }
    @include breakpoint(md) {
      width: 100%;
      flex-wrap: none;
      background: $bg-black;
      justify-content: space-between;
      margin: auto 0;
      &__item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: calc($spacing-sm/3);
        height: $spacing-xl * 2;
        width: 100%;
        border-radius: $spacing-sm;
        border: solid 1px $bg-white;
        transition: all 0.3s ease;
        filter: grayscale(100%);
        & > svg {
          display: none;
        }

        &:hover {
          filter: none;
        }

        &--active {
          filter: none;
          transform: translateY(-5%);
        }
      }
    }
  }
}
