@import "../../styles/variables";
@import "../../styles/mixins";

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1001;
  min-width: $min-width;
  @include BackgroundGlassEffect;
  animation: appear 0.5s forwards;
  &__close {
    position: absolute;
    top: $spacing-md;
    right: $spacing-md;
    border-radius: 50%;
    width: $spacing-lg * 1.3;
    height: $spacing-lg * 1.3;
    border: 2px solid $inherit;
    background: transparent;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1002;
    & > svg {
      vertical-align: middle;
      color: $inherit;
    }
    @include breakpoint(sm) {
      display: none;
    }
  }
  &__container {
    position: relative;
    background: $bg-white;
    height: 95%;
    width: 100%;
    overflow-y: scroll;
    @include breakpoint(sm) {
      width: auto;
      max-width: 65%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__fastApprove {
      position: absolute;
      top: $spacing-md;
      right: $spacing-md;
      color: $text-white;
      background: rgba(255, 0, 0, 0.5);
      text-transform: uppercase;
      font-size: $h4;
      padding: $spacing-sm;
      border-radius: $spacing-sm;
      border: none;
      transition: all 0.3s;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: $text-black;
        background: $text-link;
      }
    }
    &__approve {
      display:flex;
      margin:$spacing-sm auto $spacing-md;
      color: $text-white;
      background: rgba(255, 0, 0, 0.5);
      text-transform: uppercase;
      font-size: $h4;
      padding: $spacing-sm;
      border-radius: $spacing-sm;
      border: none;
      transition: all 0.3s;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: $text-black;
        background: $text-link;
      }
    }
  }
}

@keyframes appear {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
