@import "../../styles/variables";
@import "../../styles/mixins";

.widget {
  position: sticky;
  top: 100px;
  background: $bg-white;
  height: 100%;
  display: none;
  padding: $spacing-md 0;
  @include breakpoint(lg) {
    display: block;
  }
  @include breakpoint(xl) {
    padding: $spacing-md $spacing-sm 0;
  }

  &__title {
    font-weight: bold;
    font-size: $h3;
    color: text;
  }

  &__group {
    &__item {
      display: grid;
      grid-template-columns: auto 2fr;
      padding-top: $spacing-md;
      border-bottom: 1px solid $secondary;
      &__thumbnail {
        padding: 0 $spacing-md $spacing-md 0;
        & > img {
          width: 70px;
          height: 70px;
          border-radius: $spacing-sm;
        }
      }

      &__content {
        &__title {
          white-space: normal;
          text-decoration: none;
          color: $text-black;
          font-weight: bold;
          font-size: $h5;
        }
        &__meta {
          white-space: pre;
          display: flex;
          align-items: center;
          font-size: $h5;
          color: $inherit;
          padding-top: $spacing-md;

          & > svg {
            margin: 0 $spacing-sm;
            vertical-align: middle;
            font-size: $h3;
          }
        }
      }
    }
  }
}
